version: '2'
services:
  baseimage:
    build: ./baseimage
    image: liuruichao/fabric-baseimage

  membersrvc:
    image: liuruichao/fabric-cop
    extends:
      file: base/membersrvc.yaml
      service: membersrvc

  vp0:
    image: liuruichao/fabric-peer
    extends:
      file: base/peer-secure-pbft-base.yaml
      service: peer-secure-pbft-base
    ports:
      - "7050:7050"
      - "7051:7051"
      - "7053:7053"
    environment:
      - CORE_PEER_ID=vp0
      - CORE_SECURITY_ENROLLID=test_vp0
      - CORE_SECURITY_ENROLLSECRET=MwYpmSRjupbT
    links:
      - membersrvc

  vp1:
    image: liuruichao/fabric-peer
    extends:
      file: base/peer-secure-pbft-base.yaml
      service: peer-secure-pbft-base
    ports:
      - "8050:7050"
      - "8051:7051"
      - "8053:7053"
    environment:
      - CORE_PEER_DISCOVERY_ROOTNODE=vp0:7051
      - CORE_PEER_ID=vp1
      - CORE_SECURITY_ENROLLID=test_vp1
      - CORE_SECURITY_ENROLLSECRET=5wgHK9qqYaPy
    links:
      - membersrvc
      - vp0

  vp2:
    image: liuruichao/fabric-peer
    extends:
      file: base/peer-secure-pbft-base.yaml
      service: peer-secure-pbft-base
    ports:
      - "9050:7050"
      - "9051:7051"
      - "9053:7053"
    environment:
      - CORE_PEER_DISCOVERY_ROOTNODE=vp0:7051
      - CORE_PEER_ID=vp2
      - CORE_SECURITY_ENROLLID=test_vp2
      - CORE_SECURITY_ENROLLSECRET=vQelbRvja7cJ
    links:
      - membersrvc
      - vp0

  nvp0:
    image: liuruichao/fabric-peer
    extends:
      file: base/peer-secure-pbft-base.yaml
      service: peer-secure-pbft-base
    ports:
      - "11050:7050"
      - "11051:7051"
      - "11053:7053"
    environment:
      - CORE_PEER_VALIDATOR_ENABLED=false
      - CORE_PEER_DISCOVERY_ROOTNODE=vp0:7051
      - CORE_PEER_ID=nvp0
      - CORE_SECURITY_ENROLLID=test_nvp0
      - CORE_SECURITY_ENROLLSECRET=iywrPBDEPl0K
    links:
      - membersrvc
      - vp0
