version: '2'
services:
  peer-secure-pbft-base:
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - CORE_PEER_DISCOVERY_PERIOD=60s
      - CORE_PEER_DISCOVERY_TOUCHPERIOD=61s
      - CORE_PEER_ADDRESSAUTODETECT=true
      - CORE_VM_ENDPOINT=unix:///var/run/docker.sock
      - CORE_LOGGING_LEVEL=ERROR
      - CORE_PEER_PKI_ECA_PADDR=membersrvc:7054
      - CORE_PEER_PKI_TCA_PADDR=membersrvc:7054
      - CORE_PEER_PKI_TLSCA_PADDR=membersrvc:7054
      - CORE_SECURITY_ENABLED=true
      - CORE_PEER_VALIDATOR_CONSENSUS_PLUGIN=pbft 
      - CORE_PBFT_GENERAL_MODE=batch 
      - CORE_PBFT_GENERAL_N=4 
      - CORE_PBFT_GENERAL_F=1
      - CORE_PBFT_GENERAL_K=60
      - CORE_PBFT_GENERAL_LOGMULTIPLIER=25
      - CORE_PBFT_GENERAL_BATCHSIZE=3072
      - CORE_PBFT_GENERAL_TIMEOUT_REQUEST=200s
      - CORE_PBFT_GENERAL_TIMEOUT_BATCH=200s
      - CORE_PBFT_GENERAL_TIMEOUT_NULLREQUEST=100s
      - CORE_PBFT_EXECUTOR_QUEUESIZE=30720

    command: sh -c "sleep 10; peer node start"
